[submodule "elf"]
	path = elf
	url = https://github.com/MicroRJ/elf
[submodule "dayan-core"]
	path = dayan-core
	url = https://github.com/MicroRJ/dayan-core.git
[submodule "blake3"]
	path = blake3
	url = https://github.com/BLAKE3-team/BLAKE3.git
